@import "./reset.scss";
@import "./media.scss";

$family: "Hiragino Sans GB", "Noto Sans CJK SC", -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue",
  "Microsoft Yahei", Tahoma, Simsun, sans-serif;

body {
  font-family: $family;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.clearfix {
  zoom: 1;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
