@import "./mixin.scss";
@import "./transition.scss";
@import "./btn.scss";

$family: "Hiragino Sans GB", "Noto Sans CJK SC", -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue",
  "Microsoft Yahei", Tahoma, Simsun, sans-serif;

body {
  font-family: $family;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  zoom: 1;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}



.m {
  // 移动端 兼容
  float: left;
  $class-prefix: col-;
  @for $n from 1 through 24 {
    // 最小 - 576px
    &.#{$class-prefix}#{$n} {
      width: ($n / 24) * 100%;
    }
  }
  $class-prefix: offset-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      margin-left: ($n / 24) * 100%;
    }
  }
  @media (min-width: 577px) {
    // 577-769
    $class-prefix: col-xm-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        width: ($n / 24) * 100%;
      }
    }

    $class-prefix: offset-xm-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        margin-left: ($n / 24) * 100%;
      }
    }
  }
  @media (min-width: 769px) {
    // 770-993
    $class-prefix: col-md-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        width: ($n / 24) * 100%;
      }
    }
    $class-prefix: offset-md-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        margin-left: ($n / 24) * 100%;
      }
    }
  }
  @media (min-width: 993px) {
    //993-1200
    $class-prefix: col-lg-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        width: ($n / 24) * 100%;
      }
    }
    $class-prefix: offset-lg-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        margin-left: ($n / 24) * 100%;
      }
    }
  }
  @media (min-width: 1201px) {
    //1200 - 无限大
    $class-prefix: col-xl-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        width: ($n / 24) * 100%;
      }
    }
    $class-prefix: offset-xl-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        margin-left: ($n / 24) * 100%;
      }
    }
  }
  @media (max-width: 576px) {
    .col-hide {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .col-xm-hide {
      display: none;
    }
  }
  @media (max-width: 993px) {
    .col-md-hide {
      display: none;
    }
  }
}

/* loading 效果*/
.y-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom:0;
  right:0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95);
  overflow: hidden;
}
// loading 仿Element-ui加载效果
@keyframes y-loading-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.y-loading .y-loading-round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #409EFF;
  border-left-color: transparent;
  animation: y-loading-rotate 1s linear infinite;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.y-loading-text{
  position: absolute;
  top:calc(50% + 60px);
  left:50%;
  font-size: 16px;
  color:#666;
  transform: translate(-50%,-50%);
}
/* loading style over*/