$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$btnBg:#1890FF;
$btnCl:#fff;
$family: "Hiragino Sans GB", "Noto Sans CJK SC", -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue",
  "Microsoft Yahei", Tahoma, Simsun, sans-serif;